html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
/*Estilos id*/
#contenedor {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}
#col1 {
  background-color: #80801f;
  flex: 1;
  width: 18%;
  padding: 0.5em;
}
#col2 {
  width: 82%;
}
#cabecera {
  border: gray solid 0.05em;
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
}
#historial {
  height: 89%;
}
#escritura {
  height: 5%;
  display: flex;
  justify-content: center;
}
#inputchat {
  border-radius: 0.5em;
  border: gray solid 0.05em;
  width: 95%;
  margin-bottom: 1em;
}
/*Estilos etiquetas*/
h1,
h2,
h3 {
  font-family: "Dancing Script", cursive;
  color: white;
}
p,
label {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
}
/*estilos clases*/
.caja1 {
  margin-bottom: 20%;
}
.float {
  float: right;
}
.buscador {
  float: right;
  border: none;
  outline: none;
}
.divSearch {
  border: black solid 0.05em;
  padding: 0.5%;
  border-radius: 0.5em;
}
.margenes {
  margin: 0;
  padding: 0;
}
.mas {
  cursor: pointer;
}
